---
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AlejoF.dev - {{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/the-big-picture.css" rel="stylesheet">
    <link href="/assets/css/form.css" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light fixed-bottom">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item {% if page.title == "Notes" %} active {% endif %}">
                        <a class="nav-link" href="/">Notes
                            {% if page.title == "Notes" %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if page.title == "About" %} active {% endif %}">
                        <a class="nav-link" href="/about">About
                            {% if page.title == "About" %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item {% if page.title == "Contact" %} active {% endif %}">
                        <a class="nav-link" href="/contact">Contact
                            {% if page.title == "Contact" %}
                            <span class="sr-only">(current)</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container container-main">
        <div class="row">
            <div class="col-lg-3 col-md-4 sidebar">
                <p class="header-img">
                    <img src="https://blob.alejof.dev/assets/code-icon-light.png">
                </p>
                <p class="title">{{site.title}}</p>
                <p>{{site.description}}</p>
                <div class="links d-none d-sm-block">
                    <p><i class="fas fa-map-marker-alt"></i> &nbsp;Bogotá, CO</p>
                    <p><a href="https://github.com/{{site.github_username}}"><i class="fab fa-github"></i> &nbsp;GitHub</a></p>
                    <p><a href="https://twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i> &nbsp;Twitter</a></p>
                </div>
            </div>
            <div class="col-md-8 content">
                {{content}}
            </div>
        </div>
        <div class="footer d-block d-sm-none my-5">
            <p class="title">{{site.title}}</p>
            <div vlass="links">
                <p><i class="fas fa-map-marker-alt"></i> &nbsp;Bogotá, CO</p>
                <p><a href="https://github.com/{{site.github_username}}"><i class="fab fa-github"></i> &nbsp;GitHub</a></p>
                <p><a href="https://twitter.com/{{site.twitter_username}}"><i class="fab fa-twitter"></i> &nbsp;Twitter</a></p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_tracking_id}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{site.google_tracking_id}}');
    </script>


</body>

</html>
