---
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AlejoF.dev - {{page.title}}</title>

    <link href="/assets/css/tailwind.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700&display=swap" rel="stylesheet">
</head>

<body class="p-5 font-sans antialiased leading-tight text-black">

    <div class="container mx-auto">
        {{ content }}
    </div>

</body>

</html>