---
layout: default
---

<div class="mx-2 mt-0 mb-16 md:mt-8 md:max-w-xl md:mx-auto">
    <!-- Header -->
    <a class="flex items-center py-2 no-underline" href="/">
        <div class="flex-grow">
            <h1 class="text-3xl tracking-tighter md:text-4xl font-title">{% include logo.html class="h-6 md:h-8" %}</h1>
        </div>

        {% include icon.html class="h-12" %}
        <!--
    Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    -->
    </a>

    {% if page.show_navbar %}
    {% include nav.html %}
    {% endif %}
</div>

<!-- Page Content -->
<div class="mx-2 md:max-w-xl md:mx-auto">
    {{content}}
</div>