---
layout: default
---

<!-- Header -->
<div class="mx-2 mt-0 mb-16 md:mt-8 md:max-w-xl md:mx-auto">
    <a class="flex items-center py-2 no-underline" href="/">

        <div class="flex-grow md:text-xl">
            <span class="block my-1 text-gray-600">{% include logo.html class="h-4 md:h-6" %}</span>
            <span class="block text-sm text-gray-600">{{ page.date | date: "%b %-d, %Y" }}</span>
        </div>

        <div class="text-gray-600">
            {% include icon.html class="h-12" %}
        </div>
        <!--
        Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        -->
    </a>
</div>

<!-- Page Content -->
<div class="mx-2 md:max-w-xl md:mx-auto">
    <div class="mb-4">
        <h1 class="text-3xl tracking-tight md:text-4xl">{{ page.title }}</h1>

        {%- if page.type == "link" -%}
        <span class="inline-block mt-1 mb-2 text-gray-700 font-narrow">
            from <a href="{{ page.source }}" class="text-blue-700 no-underline hover:underline"
                target="_blank">{{ page.source | remove:'http://' | remove:'https://' | split:'/' | first }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline h-3 fill-current">
                    <path
                        d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
                    <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
                </svg>
            </a>
        </span>
        {%- endif -%}
    </div>

    <div class="post-content">
        {{content}}
    </div>

    {%- if page.type != "link" and page.comments -%}
    <!-- TODO: Allow Comments -->
    {%- endif -%}

    <hr class="my-8">
    <p>{{ site.about_me }}</p>
    <div class="flex justify-between mx-0 md:justify-start md:space-x-8 w-100">
        <a href="/" class="inline-block text-gray-700 font-narrow">See all notes and posts</a>
        <a href="/about" class="inline-block text-gray-700 font-narrow">About me</a>
    </div>
</div>