---
layout: default
---

<!-- Header -->
<a class="flex items-center w-100 overflow-x-visible mb-10 mx-2 no-underline" href="/">
    <svg id="color" viewBox="0 0 512 512" class="h-12"
        xmlns="http://www.w3.org/2000/svg">
        <g><path d="m464 88h-416a40.045 40.045 0 0 0 -40 40v256a40.045 40.045 0 0 0 40 40h416a40.045 40.045 0 0 0 40-40v-256a40.045 40.045 0 0 0 -40-40zm-440 40a24.027 24.027 0 0 1 24-24h416a24.027 24.027 0 0 1 24 24v8h-464zm464 256a24.027 24.027 0 0 1 -24 24h-416a24.027 24.027 0 0 1 -24-24v-232h464z"/><circle cx="48" cy="120" r="8"/><circle cx="72" cy="120" r="8"/><circle cx="96" cy="120" r="8"/><path d="m368 392h64a8 8 0 0 0 0-16h-64a8 8 0 0 0 0 16z"/><path d="m456 392h8a8 8 0 0 0 0-16h-8a8 8 0 0 0 0 16z"/><path d="m219.562 310.656a8 8 0 0 0 11.094-2.218l64-96a8 8 0 0 0 -13.312-8.876l-64 96a8 8 0 0 0 2.218 11.094z"/><path d="m306.879 310.146a8 8 0 0 0 11.267-1.024l40-48a8 8 0 0 0 0-10.244l-40-48a8 8 0 0 0 -12.292 10.244l35.732 42.878-35.732 42.878a8 8 0 0 0 1.025 11.268z"/><path d="m193.854 309.122a8 8 0 0 0 12.292-10.244l-35.732-42.878 35.732-42.878a8 8 0 0 0 -12.292-10.244l-40 48a8 8 0 0 0 0 10.244z"/></g>
    </svg>
    <!--
    Icons made by <a href="https://www.flaticon.com/authors/xnimrodx" title="xnimrodx">xnimrodx</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    -->
    <div class="ml-4 overflow-x-visible md:text-xl">
        <span class="block text-gray-600">{{site.title}}</span>
        <span class="block text-sm text-gray-600">{{site.description}} &bull; {{ page.date | date: "%b %-d, %Y" }}</span>
    </div>
</a>

<!-- Page Content -->
<div class="mx-2 md:max-w-md md:mx-auto">
    <div class="mb-4">
        <h1 class="text-3xl tracking-tight">{{ page.title }}</h1>

        {%- if page.type == "link" -%}
            <span class="inline-block text-gray-700 font-narrow mt-1 mb-2">
                from <a href="{{ page.sourceUrl }}" class="no-underline hover:underline text-blue-700" target="_blank">{{ page.sourceName }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="inline h-3 fill-current">
                    <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z"/>
                </svg>
                </a>
            </span>
        {%- endif -%}
    </div>
    
    {{content}}

    {%- if page.type != "link" and page.comments -%}
        <div class="my-8">
            <div id="disqus_thread"></div>
            <script>
            var disqus_config = function () {
                this.page.url = '{{ page.url | absolute_url }}'; 
                this.page.identifier = '{{ page.url | absolute_url }}';
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>         
        </div>
    {%- endif -%} 
    
    <hr class="my-8">
    <p>I post links and comments to interesting things on the internet.</p>
    <p>Sometimes I write stuff.</p>
    <div class="flex justify-between w-100 mx-0"> 
        <a href="/" class="inline-block font-narrow text-gray-700">See all notes and posts</a>
        <a href="/about" class="inline-block font-narrow text-gray-700">About me</a>
    </div>
</div>